* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Cerebri Sans Pro";
}
body {
    
}
.header {
    background: #000;
    margin: 0px auto;
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
}
.header__blocks {
    display: flex;
    margin: 0px auto;
    width: 1140px;
    justify-content: space-between;
}
.header__block {
    display: flex;
    align-items: center;
}
.email_svg {
    margin-right: 8px;
}
.header__block_text {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}
.line {
    height: 14px;
    width: 1px;
    background: #fff;
    opacity: 50%;
    margin-right: 20px;
    margin-left: 20px;
}
.facebook_svg {
    margin-right: 20px;
}
.whatsapp_svg {
    margin-right: 20px;
}
.in_svg {
    margin-right: 20px;
}
.twitter_svg {
    margin-right: 40px;
}
.language__block {
    display: flex;
    align-items: center;
}
.language__flag {
    margin-right: 9px;
}
.language__text {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    margin-right: 6px;
}
.drop_line_svg {
    width: 9px;
    height: 5px;
}
.user__block {
    display: flex;
    align-items: center;
}
.user_svg {
    margin-right: 6px;
}
.user__text {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
}   








